span.before_after {
	font-size:	smaller;
	font-variant:	small-caps;
}

span.group_id {
	font-size:	smaller;
	font-weight:	bold;
	color:		white;
	background-color: purple;
}

li div i.legacy {
	font-size: 0.75em;
}
